<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>部分文件</title>
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
    <link rel="stylesheet" href="../static/layui-v2.2.5/extend/dropdown.css" media="all">

</head>
<body>

<div>
    <div class="layui-inline">
        <div class="layui-btn-group">
            <button class="layui-btn " type="button" id="share"><i class="iconfont">&#xe608;</i>分享</button>
            <button class="layui-btn" type="button" id="deleteall"><i class="iconfont">&#xe64f;</i>删除</button>
            <button class="layui-btn" type="button" id="moveall"><i class="iconfont">&#xe555;</i>移动到</button>
            <button class="layui-btn" type="button" id="copyall"><i class="iconfont">&#xe62f;</i>复制到</button>
        </div>
    </div>
    <div class="layui-inline" style="float: right">
        <div class="layui-inline"><input name="kws" class="layui-input" placeholder="搜索 文件名"
                                         autocomplete="off" id="seaarchtxt"></div>
        <button class="layui-btn" id="search"><i class="layui-icon ">&#xe615;</i></button>
    </div>
</div>
</div>
<div class="layui-container layui-side-scroll" style="margin: 0; width: 100%; padding: 5px 15px;">
    <div class="layui-row">
        <div class="layui-col-lg12">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
</div>
<!--用隐藏表单实现下载-->
<form action="" id="fileForm" method="post" style="display: none;"></form>
<script type="text/html" id="barDemo">
    <div class="urp-dropdown urp-dropdown-table">
        <a class="layui-btn layui-btn-xs" lay-event="share"><i class="iconfont ">&#xe608;</i></a>
        {{# if(d.type!=0){ }}
        <a class="layui-btn layui-btn-xs" lay-event="down"><i class="iconfont">&#xe689;</i></a>
        {{# } }}
        <button class="layui-btn layui-btn-primary layui-btn-xs urp-dropdown-btn">
            <i class="layui-icon ">&#xe65f;</i>
        </button>
    </div>
</script>
<script th:inline="javascript">
    //将以下代码粘入相关页面中
    function preview(fileindexid, filetype, size, filename) {
        var allow = "doc,docx,ppt,pptx,xls,xlsx,mp4,mp3,txt,java,php,py,md,js,css,jpg,jpeg,png,gif";
        var allows = allow.split(",");
        console.log(filetype);
        if (size > 20000000) {
            layer.alert("文件太大不支持预览");
        } else {
            var flag = 0;//标记没有允许的类型
            for (var i = 0; i < allows.length; i++) {
                if (allows[i] == filetype) {
                    flag = 1;
                    break;
                }
            }
            if (flag === 1) {
                var originUrl = 'http://127.0.0.1:8000/hadoop/uploadAndDown/down?fileindexid=' + fileindexid + '&fullfilename=' + filename;

                window.open('http://127.0.0.1:8012/onlinePreview?url=' + encodeURIComponent(originUrl));
            } else {
                layer.alert("该文件类型不允许预览");
            }
        }

    }

    function changeFileStatus(sharetype, fileid, type) {
        $.ajax({
            url: "/hadoop/fileAndFolder/changefileStaus?sharetype=" + sharetype + "&folderid=" + fileid + "&type=" + type,
            method: "post",
            beforeSend: function () {
                $("#icon_loading").html("<span class='layui-icon layui-icon-loading'></span>");
            },
            complete: function () {
                // alert('远程调用成功，状态文本值：'+textStatus);
                $("#icon_loading").empty();
            },
            success: function (data) {

            }, error: function () {
                layer.msg('请求服务器失败！', {icon: 2});
            }
        });
    }

    layui.config({
        base: "../static/layui-v2.2.5/lay/mymodules/"
    }).use(['element', 'layer', 'table', 'dropdown'], function () {
        let element = layui.element;
        let table = layui.table;
        let layer = layui.layer;
        let dropdown = layui.dropdown;
        let $ = layui.jquery;//表格插件;
        var sorttype= [[${type}]];
        var tableIns = table.render({
            elem: '#demo'
            , id: 'fileAndFolder'
            , cellMinWidth: 80
            , url: '/hadoop/fileAndFolder/findalonetypefile?type=' + sorttype
            , cols: [
                [
                    {title: '选择', width: 36, type: 'checkbox', fixed: 'left'},
                    {
                        field: 'type', align: 'center', width: 50, templet: function (row) {
                            if (row.type === 0) {
                                return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe737;</i>";
                            } else {
                                if (row.filetype === "rar" || row.filetype === "zip")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe634;</i>";
                                else if (row.filetype === "mp4" || row.filetype === "mov")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe66f;</i>";
                                else if (row.filetype === "pdf")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8e8;</i>";
                                else if (row.filetype === "mps" || row.filetype === "wma")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe602;</i>";
                                else if (row.filetype === "txt")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe63b;</i>";
                                else if (row.filetype === "docx")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8ac;</i>";
                                else if (row.filetype === "exe")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8a7;</i>";
                                else if (row.filetype === "apk")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe68d;</i>";
                                else if (row.filetype === "jpg" || row.filetype === "jpeg" || row.filetype === "png" || row.filetype === "gif")
                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe656;</i>";
                                else
                                    return "<i class=\"layui-icon\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe655;</i>";


                            }
                        }
                    }
                    , {
                    field: 'name', title: '文件名', sort: true, templet: function (row) {
                        if (row.type === 0) {
                            return "<a onclick='top.addtap(\"/hadoop/fileAndFolder/allFile?fatherFolderid=" + row.id + "\",\"" + row.id.toString() + "\",\"" + row.name + "\")'>" + row.name + "</a>";
                        } else {
                            return "<a onclick='preview(" + row.id + ",\"" + row.filetype + "\"," + row.size + ",\"" + row.name + "\")'>" + row.name + "</a>";
                        }

                    }
                }
                    , {
                    field: 'size', title: '大小', sort: true, templet: function (row) {
                        if (row.size === 0) {
                            return "- -";
                        } else {
                            return (row.size) + " kb";
                        }
                    }
                }
                    , {field: 'updatetime', title: '修改日期', sort: true},
                    {
                        field: "sharetype", title: "分享类型", width: 100, align: "center",
                        templet: function (row) {
                            if (row.sharetype === 1)
                                return "<a href='javascript:changeFileStatus(0," + row.id + "," + row.type + ")'>" +
                                    "<input name='role'   type='checkbox' lay-skin='switch'   lay-text='共享|私有' value='1' checked></a>";
                            else
                                return "<a href='javascript:changeFileStatus(1," + row.id + "," + row.type + ")'>" +
                                    "<input name='role'  type='checkbox' lay-skin='switch'  lay-text='共享|私有' value='0'></a>";

                        }
                    }
                    , {field: 'fatherfoldername', title: '所在目录', templet: function (row) {
                        return "<a onclick='top.addtap(\"/hadoop/fileAndFolder/allFile?fatherFolderid=" + row.fatherfolderid + "\",\"" + row.fatherfolderid+ "\",\"" + row.fatherfoldername + "\")'>" + row.fatherfoldername + "</a>";
                    }}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150, align: "center"}
                ]
            ], done: function (res) {
                dropdown(res.data, function (data) {
                    var options = [
                        {
                            title: "重名名",
                            event: function () {
                                layer.prompt({
                                    formType: 2
                                    , value: data.name,
                                    title: '请输入新文件夹名'
                                }, function (value, index) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/hadoop/fileAndFolder/renameFolder?filename=" + value + "&folderid=" + data.id + "&type=" + data.type,
                                        contentType: "application/json;charset=utf-8",
                                        success: function (message) {
                                            // 获得frame索引
                                            console.log(message.code);
                                            if (message.code === 0) {
                                                layui.table.reload('fileAndFolder');
                                                layer.close(index);
                                            } else layer.msg(message.msg, {
                                                icon: 2,
                                                time: 1500
                                            });
                                        },
                                        error: function (message) {
                                            layer.msg("添加失败", {
                                                icon: 2,
                                                time: 1500
                                            });
                                        }
                                    });
                                });
                            }
                        },
                        {
                            title: "删除",
                            event: function () {
                                layer.confirm('确认删除？', function (index) {
                                    console.log(data.id);
                                    $.ajax({
                                        url: "/hadoop/fileAndFolder/delFolder?folderid=" + data.id + "&type=" + data.type,
                                        success: function (message) {
                                            layer.close(index);
                                            layui.table.reload('fileAndFolder');

                                        },
                                        error: function (message) {
                                            console.log(JSON.stringify(message));
                                            layer.msg("删除失败", {
                                                icon: 2,
                                                time: 1500
                                            });
                                        }
                                    });
                                });
                            }
                        }
                        ,
                        {
                            title: "复制到",

                            event: function () {
                                layer.open({
                                    type: 2,
                                    title: '请选择文件夹',
                                    shadeClose: true,
                                    shade: 0.8,
                                    offset: '30px',
                                    area: ['80%', '60%'],
                                    content: "/hadoop/fileAndFolder/onlyfolder?folderid=" + data.id + "&type=" + data.type + "&altertype=0"//iframe的url
                                });

                            }
                        }
                        ,
                        {
                            title: "移动到",

                            event: function () {
                                layer.open({
                                    type: 2,
                                    title: '请选择文件夹',
                                    shadeClose: true,
                                    shade: 0.8,
                                    offset: '30px',
                                    area: ['80%', '60%'],
                                    content: "/hadoop/fileAndFolder/onlyfolder?folderid=" + data.id + "&type=" + data.type + "&altertype=1"//iframe的url
                                });

                            }
                        }
                    ];

                    return options;
                });
            }
        });

    });

</script>

<script>
    //这里设置一个空的json串，用于接受表格的行信息
    var json;
    layui.config({
        base: "../static/layui-v2.2.5/lay/mymodules/"
    }).use(['element', 'layer', 'table', 'dropdown'], function () {
        let element = layui.element;
        let table = layui.table;
        let layer = layui.layer;
        let dropdown = layui.dropdown;
        let $ = layui.jquery;//表格插件;
//layer.msg("大家好，这是最简单的弹层", { time: 9000, type: 1,title:['测试一下','font-size:18px'] });
        $("#share").click(function () {
            var checkStatus = table.checkStatus('fileAndFolder');
            console.log("dsf");
            console.log(checkStatus.data);//获取选中行的数据
            console.log(checkStatus.data.length);//获取选中行数量，可作为是否有选中行的条件
            console.log(checkStatus.isAll); //表格是否全选
        });
        $("#deleteall").click(function () {
            var checkStatus = table.checkStatus('fileAndFolder');
            var data = checkStatus.data;
            if (data.length > 0) {
                layer.confirm('确认删除？', function (index) {
                    $.ajax({
                        url: "/hadoop/fileAndFolder/delall",
                        contentType: "application/json;charset=utf-8",
                        data: {"objects": JSON.stringify(data)},
                        success: function (message) {
                            layer.close(index);
                            layui.table.reload('fileAndFolder');

                        },
                        error: function (message) {
                            console.log(JSON.stringify(message));
                            layer.msg("删除失败", {
                                icon: 2,
                                time: 1500
                            });
                        }
                    });
                });
            } else {
                layer.msg("请先选中！！", {
                    icon: 2,
                    time: 1500
                });
            }
        });
        $("#copyall").click(function () {
            var checkStatus = table.checkStatus('fileAndFolder');
            var data = checkStatus.data;
            if (data.length > 0) {
                json = JSON.stringify(data);
                layer.open({
                    type: 2,
                    title: '请选择文件夹',
                    shadeClose: true,
                    shade: 0.8,
                    offset: '30px',
                    area: ['80%', '60%'],
                    content: "/hadoop/fileAndFolder/onlyfolderlist?altertype=0"//iframe的url
                });
            } else {
                layer.msg("请先选中！！", {
                    icon: 2,
                    time: 1500
                });
            }
        });
        $("#moveall").click(function () {
            var checkStatus = table.checkStatus('fileAndFolder');
            var data = checkStatus.data;
            if (data.length > 0) {
                json = JSON.stringify(data);
                layer.open({
                    type: 2,
                    title: '请选择文件夹',
                    shadeClose: true,
                    shade: 0.8,
                    offset: '30px',
                    area: ['80%', '60%'],
                    content: "/hadoop/fileAndFolder/onlyfolderlist?altertype=1"//iframe的url
                });
            } else {
                layer.msg("请先选中！！", {
                    icon: 2,
                    time: 1500
                });
            }
        });
        $("#search").click(function () {
            var text = $("#seaarchtxt").val();
            var sorttype= [[${type}]];
            console.log(text);
            table.reload('maintenanceTableId',{
                url: '/hadoop/fileAndFolder/searchalonetypefile?type=' + sorttype+'&name='+text,
                where:{
                    search:text
                }
            }); //只重载数据
            //这里以搜索为例
        });
    });
</script>


</body>
</html>