<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
    <link rel="stylesheet" href="../static/layui-v2.2.5/extend/dropdown.css" media="all">
    <title>添加群组</title>
    <script src="../static/js/jquery-1.11.1.js"></script>
    <style>
        .demo{
            font-size: 20px;
            color: #999 !important;
            margin-left: 5px;
            margin-right:5px;
        }
        .demo:hover{
            color: #5FB878 !important
        }
        .demo cite{
            color: #666;
            font-style: normal
        }


    </style>
    <script>
        var a=[];
        a.push("hello");
        a.push("test");

        $(document).ready(function(){
            fun();
            $("#btn1").click(function(){
                fun();

            });
        });
        function fun() {
            console.log(a.length);
            a.push("tt");
            $("#test").empty();
            for(var i=0;i<a.length;i++)
            {
                var temp='<a onclick="fun2()"  class="demo layui-inline">'+a[i]+' '+'</a>';
                $("#test").append(temp);
            }
        }
        function fun2() {
           var temp=0;
           $("#test").empty();
           for(var t=0;t<a.length;t++)
           {
               if(a[t]=='tt')
                   temp=t;
           }
           if(temp!=0)
           for(var i=0;i<a.length-temp;i++)
           {
               a.pop();
           }
            for(var i=0;i<a.length;i++)
            {
                var temp='<p onclick="fun2()"  class="demo layui-inline">'+a[i]+' '+'</p>';
                $("#test").append(temp);
            }

        }
    </script>
</head>
<body>

<div id="test">

</div>
<button id="btn1">添加文本</button>
<button id="btn2">添加文本2</button>
</body>
</html>