<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文件书</title>
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
</head>
<body>
<div class="demo-tree demo-tree-box" id="demo1"></div>
<script>
function getdata() {
    var $=layui.jquery;
    var data = [];
    $.ajax({
        url: "/hadoop/fileAndFolder/treeload",    //后台数据请求地址
        type: "post",
        datatype:"json",
        async: false,
        success: function (resut) {
            data = resut;
            console.log(data);
        }
    });

return data;
}
</script>
<script>
    //Demo
    layui.use(['tree', 'layer'], function(){
        var layer = layui.layer
            ,$ = layui.jquery;
        //基本演示
        layui.tree({
            elem: '#demo1' //指定元素
            ,nodes: getdata()
            ,spread: false
            ,click: function(item){ //点击节点回调
                var type=[[${type}]];
                var altertype=[[${altertype}]];
                var confirmMess='';
                if(altertype===0)
                    confirmMess='确认复制到此文件夹';
                else
                    confirmMess='确认移动到此文件夹';
                layer.confirm(confirmMess, function (index) {
                    $.ajax({
                        type: "POST",
                        url: "/hadoop/fileAndFolder/copyormove?altertype="+altertype+"&folderid=[[${folderid}]]&type="+type+"&aimFolderid="+item.id,
                        contentType: "application/json;charset=utf-8",
                        success: function (message) {
                            // 获得frame索引
                            console.log(message.code);
                            if(message.code===0)
                            {
                                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                               parent.layui.table.reload('fileAndFolder');
                                parent.layer.close(index);
                            }
                            else  layer.msg(message.msg, {
                                icon: 2,
                                time: 1500
                            });
                        },
                        error: function (message) {
                            layer.msg("失败", {
                                icon: 2,
                                time: 1500
                            });
                        }
                    });
                });

            }
        });
    });
</script>
</body>
</html>