<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>提取文件</title>
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
    <style>

    .main{

        position: absolute;

        top: 50%;

        left: 50%;

        transform: translate(-50%, -50%);



        padding: 1em;

    }
     .demo{
         font-size: 14px;
         color: #999 !important;
         margin-top: 5px;
         margin-left: 5px;
         margin-right:5px;
         margin-bottom: 5px;
     }
    .demo:hover{
        color: #5FB878 !important
    }
    .demo cite{
        color: #666;
        font-style: normal
    }

</style>
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/hadoop/index/mainindex">网盘</a></li>
            <li class="layui-nav-item"><a href="/hadoop/fileAndFolder/searchpublicpage">找资源</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="${imgsrc}" class="layui-nav-img">
                    [[${name}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a data-url="/hadoop/index/mydetail" data-id="mydetail" data-title="修改基本资料" class="site-demo-active" href="javascript:;" data-type="tabAdd">基本资料</a></dd>
                    <dd><a data-url="/hadoop/index/newpwd" data-id="newpassword" data-title="修改密码" class="site-demo-active" href="javascript:;" data-type="tabAdd">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/hadoop/user/loginout">退了</a></li>
        </ul>
    </div>
</div>
    <div  style="top: 50px ;height: 600px ;background-color: #eaeaea" >
        <!--这是提示信息的div-->
        <div class="main" id="remaind" style="text-align: center">

        </div>
        <!--这是验证提取码的div-->
        <div class="main layui-form" id="verify"  style="padding:15px 30px 15px 0;">

                <div class="layui-form-item">
                    <label class="layui-form-label">提取码：</label>
                    <div class="layui-input-block">
                        <input type="text"  id="password"  required lay-verify="required" autocomplete="off"
                        class="layui-input">
                    </div>
                </div>
               <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
        <div  style="display: none" id="detailtable">
            <div id="guidediv"></div>
        <div class="layui-container layui-side-scroll" style="margin: 0; width: 100%; padding: 5px 15px;">
            <button class="layui-btn" type="button" id="copyall">保存到云盘</button>
            <div class="layui-row">
                <div class="layui-col-lg12">
                    <table id="demo" lay-filter="test"></table>
                </div>
            </div>
        </div>
        </div>
    </div>
<div>
</div>
<script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="save">保存</a>
</script>
<script>
    var password;
    var fatherFolderid;
    var guide=[];
    var guideid=[];
    //将以下代码粘入相关页面中
    function preview(fileindexid, filetype, size, filename) {
        var allow = "doc,docx,ppt,pptx,xls,xlsx,mp4,mp3,txt,java,php,py,md,js,css,jpg,jpeg,png,gif";
        var allows = allow.split(",");
        console.log(filetype);
        if (size > 20000000) {
            layer.alert("文件太大不支持预览");
        } else {
            var flag = 0;//标记没有允许的类型
            for (var i = 0; i < allows.length; i++) {
                if (allows[i] == filetype) {
                    flag = 1;
                    break;
                }
            }
            if (flag === 1) {
                var originUrl = 'http://127.0.0.1:8000/hadoop/uploadAndDown/down?fileindexid=' + fileindexid + '&fullfilename=' + filename;

                window.open('http://127.0.0.1:8012/onlinePreview?url=' + encodeURIComponent(originUrl));
            } else {
                layer.alert("该文件类型不允许预览");
            }
        }

    }
    function reloadtab(folderid,foldername)
    {
        fatherFolderid=folderid;
        var table=layui.table;
        table.reload('fileAndFolder',{
            url:"/hadoop/groupfile/allFolder?fatherFolder="+ fatherFolderid
        });
        guide.push(foldername);
        guideid.push(folderid);
        initguide();
    }


    function initguide()
    {
        var $=layui.jquery;
        $("#guidediv").empty();
        for(var i=0;i<guide.length;i++)
        {
            console.log(guideid[i]);
            var temp='<a onclick="changeguide(\''+guideid[i]+'\',\''+guide[i]+'\')" class="demo layui-inline">'+guide[i]+'</a>';
            $("#guidediv").append(temp);
        }
    }
    function changeguide(folder,foldername)
    {

        var temp=0;
        var i;
        for( i=0;i<guide.length;i++)
        {
            if(foldername==guide[i])
            {
                temp=i;
                break;
            }
        }
        for( i=1;i<=guide.length-temp;i++)
        {
            guide.pop();
            guideid.pop();
        }
        initguide();
        var table=layui.table;
        if(folder==0)
        {
            table.reload('fileAndFolder',{
                url:"/hadoop/share/getsharedetail?shareUrl=[[${shareUrl}]]"
            });
        }else
        {
            table.reload('fileAndFolder',{
                url:"/hadoop/groupfile/allFolder?fatherFolder="+ guideid[temp]
            });
        }



    }
    var json;
    layui.use(['element', 'layer', 'table','form'],
        function () {
            let element = layui.element;
            let table = layui.table;
            let layer = layui.layer;
            let $ = layui.jquery;//表格插件;
            var flag=[[${flag}]];
            var form=layui.form;
            console.log(flag);
            if(flag==0)
            {
                $("#verify").hide();
                var temp="<p style='color: #1E9FFF;size: B4'>[[${msg}]]</p>";
                $("#remaind").append(temp);
            }

            form.on('submit(add)', function (data) {
                layer.msg(JSON.stringify(data.field));
                password=$("#password").val();
                console.log(password);

                console.log(flag);
                $.ajax({
                    type: "POST",
                    url:'http://localhost:8000/hadoop/share/shareverify?shareUrl=[[${shareUrl}]]&password='+password,
                    contentType: "application/json;charset=utf-8",
                    success: function (message) {
                        if (message.code === 0) {
                            $("#verify").hide();
                            $("#detailtable").show();
                            guideid.push(0);
                            guide.push("全部文件");
                            initguide();
                            layer.msg("提取成功", {
                                icon: 2,
                                time: 1500
                            });
                            var tableIns = table.render({
                                elem: '#demo'
                                , id: 'fileAndFolder'
                                , cellMinWidth: 80
                                , url: '/hadoop/share/getsharedetail?shareUrl=[[${shareUrl}]]'
                                , cols: [
                                    [
                                        {title: '选择', width: 36, type: 'checkbox', fixed: 'left'},
                                        {
                                            field: 'type', align: 'center', width: 50, templet: function (row) {
                                                if (row.type === 0) {
                                                    return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe737;</i>";
                                                } else {
                                                    if (row.filetype === "rar" || row.filetype === "zip")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe634;</i>";
                                                    else if (row.filetype === "mp4" || row.filetype === "mov")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe66f;</i>";
                                                    else if (row.filetype === "pdf")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8e8;</i>";
                                                    else if (row.filetype === "mps" || row.filetype === "wma")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe602;</i>";
                                                    else if (row.filetype === "txt")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe63b;</i>";
                                                    else if (row.filetype === "docx")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8ac;</i>";
                                                    else if (row.filetype === "exe")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe8a7;</i>";
                                                    else if (row.filetype === "apk")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe68d;</i>";
                                                    else if (row.filetype === "jpg" || row.filetype === "jpeg" || row.filetype === "png" || row.filetype === "gif")
                                                        return "<i class=\"iconfont\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe656;</i>";
                                                    else
                                                        return "<i class=\"layui-icon\" style=\"font-size: 30px; color: #1E9FFF;\">&#xe655;</i>";


                                                }
                                            }
                                        }
                                        , {
                                        field: 'name', title: '文件名', sort: true, templet: function (row) {
                                            if (row.type === 0) {
                                                return "<a onclick='reloadtab(\""+row.id+"\",\""+row.name+"\")'>" + row.name + "</a>";
                                            } else {
                                                return "<a onclick='preview(" + row.id + ",\"" + row.filetype + "\"," + row.size + ",\"" + row.name + "\")'>" + row.name + "</a>";
                                            }

                                        }
                                    }
                                        , {
                                        field: 'size', title: '大小', sort: true, templet: function (row) {
                                            if (row.size === 0) {
                                                return "- -";
                                            } else {
                                                return (row.size) + " kb";
                                            }
                                        }
                                    }
                                        , {field: 'updatetime', title: '修改日期', sort: true}
                                        ,
                                         {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150, align: "center"}
                                    ]
                                ]
                            });

                        }
                    },
                    error: function (message) {
                        console.log(JSON.stringify(message));
                        layer.msg("提取失败", {
                            icon: 2,
                            time: 1500
                        });
                    }
                });
            });
            $("#copyall").click(function () {
                var checkStatus = table.checkStatus('fileAndFolder');
                var data = checkStatus.data;
                if (data.length > 0) {
                    json = JSON.stringify(data);
                    layer.open({
                        type: 2,
                        title: '请选择文件夹',
                        shadeClose: true,
                        shade: 0.8,
                        offset: '30px',
                        area: ['80%', '60%'],
                        content: "/hadoop/fileAndFolder/onlyfolderlist?altertype=0"//iframe的url
                    });
                } else {
                    layer.msg("请先选中！！", {
                        icon: 2,
                        time: 1500
                    });
                }
            });
            table.on('tool(test)', function (obj) {
                let data = obj.data;
                if(obj.event=='save')
                {
                    layer.open({
                        type: 2,
                        title: '请选择文件夹',
                        shadeClose: true,
                        shade: 0.8,
                        offset: '30px',
                        area: ['80%', '60%'],
                        content: "/hadoop/fileAndFolder/onlyfolder?folderid=" + data.id + "&type=" + data.type + "&altertype=0"//iframe的url
                    });

                }
            });
        });
</script>
</body>
</html>