<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主要索引</title>
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
    <script src="../static/js/jquery.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">网盘</a></li>
            <li class="layui-nav-item"><a href="">分享</a></li>
            <li class="layui-nav-item"><a href="">找资源</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a data-url="/hadoop/fileAndFolder/allFile?fatherFolderid=0" data-id="root" data-title="全部文件" class="site-demo-active" href="javascript:;" data-type="tabAdd">全部文件</a></li>
                <li class="layui-nav-item"><a href="">图片</a></li>
                <li class="layui-nav-item"><a href="">文档</a></li>
                <li class="layui-nav-item"><a href="">视频</a></li>
                <li class="layui-nav-item"><a href="">音乐</a></li>
                <li class="layui-nav-item"><a href="">其他</a></li>
                <li class="layui-nav-item"><a href="">我的分享</a></li>
                <li class="layui-nav-item"><a href="">回收站</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body"  style="top: 50px ;left: 195px">
        <!--tab标签-->
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true" >
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content" style="padding: 0"></div>
        </div>
    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>

    function addtap( url,id,title ) {
        var element = layui.element;

        console.log($(".layui-tab-title li[lay-id=" + id + "]").length);

        if ($(".layui-tab-title li[lay-id=" + id + "]").length > 0) {

            element.tabChange('demo', id);

        } else {
            element.tabAdd('demo', {

                title: '<span>' + title + '</span>',

                content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="'
                    + url + '" style="width:100%;height:100%;"></iframe>',
                id:id

            });
            var h = $(window).height();
            $("iframe").css("height", h + "px");
            element.tabChange('demo', id);
        }

    }

    //JavaScript代码区域
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        // var layer = layui.layer;
        var $ = layui.$;
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-demo-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                })
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                // 新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                // 关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="'
                        + url + '" style="width:100%;height:100%;"></iframe>',
                    id: id // 规定好的id
                });
                FrameWH();  // 计算ifram层的大小
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id);//删除
            }
        };

        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height", h + "px");
        }
    });
</script>
</body>
</html>