<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="../static/layui-v2.2.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/layui-v2.2.5/myicon/iconfont.css" type="text/css">
    <script src="../static/layui-v2.2.5/layui.js"></script>
    <script src="../static/js/clipboard.min.js"></script>
    <script src="../static/layui-v2.2.5/step-lay/step.js"></script>
    <link rel="stylesheet" href="../static/layui-v2.2.5/step-lay/step.css" type="text/css">
</head>
<style>
    .beg-login-icon {
        position: absolute;
        color: #cccccc;
        top: 10px;
        left: 10px;
    }
</style>
<body>

<div class="layui-fluid">
    <div style="margin: 0 auto;max-width: 460px;padding-top: 40px; text-align: center">
        <header>
            <h1>注册</h1>
        </header>
    </div>
    <div class="layui-card">
        <div class="layui-card-body" style="padding-top: 40px;">
            <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                <div carousel-item>
                    <div>
                        <div class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-inline">
                                        <label class="beg-login-icon layui-inline">
                                            <i class="layui-icon">&#xe612;</i>
                                        </label>
                                        <input type="text" id="registerName" name="name" lay-verify="required"
                                               autocomplete="off" style="padding-left: 34px;"
                                               placeholder="这里输入用户名" class="layui-input">
                                    </div>
                                    <!-- 对号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="ri" style="color: green;font-weight: bolder;"
                                           hidden></i>
                                    </div>
                                    <!-- 错号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="wr" style="color: red; font-weight: bolder;"
                                           hidden>ဆ</i>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-inline">
                                        <label class="beg-login-icon">
                                            <i class="layui-icon">&#xe642;</i>
                                        </label>
                                        <input type="password" name="password" lay-verify="required" autocomplete="off"
                                               style="padding-left: 34px;"
                                               id="pwd" placeholder="这里输入密码" class="layui-input">
                                    </div>
                                    <!-- 对号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="pri" style="color: green;font-weight: bolder;" hidden></i>
                                    </div>
                                    <!-- 错号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="pwr" style="color: red; font-weight: bolder;"
                                           hidden>ဆ</i>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-inline">


                                        <label class="beg-login-icon">
                                            <i class="layui-icon">&#xe642;</i>
                                        </label>
                                        <input type="password" autocomplete="off" lay-verify="required"
                                               style="padding-left: 34px;"
                                               id="rpwd" placeholder="这里确认密码" class="layui-input">
                                    </div>
                                    <!-- 对号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="rpri" style="color: green;font-weight: bolder;"
                                           hidden></i>
                                    </div>
                                    <!-- 错号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="rpwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formStep">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form class="layui-form" id="form2" style="margin: 0 auto;max-width: 460px;padding-top: 40px;" onsubmit="return false">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-inline">
                                        <label class="beg-login-icon">
                                            <i class="layui-icon">&#xe642;</i>
                                        </label>
                                        <input id="phone" autocomplete="off" lay-verify="required"
                                               style="padding-left: 34px;" name="phone"
                                               placeholder="这里输入手机号" class="layui-input">
                                    </div>
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="phoneri" style="color: green;font-weight: bolder;"
                                           hidden></i>
                                    </div>
                                    <!-- 错号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="phonewr" style="color: red; font-weight: bolder;"
                                           hidden>ဆ</i>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-inline">
                                        <label class="beg-login-icon">
                                            <i class="layui-icon">&#xe642;</i>
                                        </label>
                                        <input id="email" autocomplete="off" lay-verify="required"
                                               style="padding-left: 34px;" name="email"
                                               placeholder="这里输入邮箱" class="layui-input">
                                    </div>
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="emailri" style="color: green;font-weight: bolder;"
                                           hidden></i>
                                    </div>
                                    <!-- 错号 -->
                                    <div class="layui-inline">
                                        <i class="layui-icon" id="emailwr" style="color: red; font-weight: bolder;"
                                           hidden>ဆ</i>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <textarea placeholder="请编辑签名" name="sign" style="width: 195px;height: 50px"
                                              autocomplete="off" class="layui-input"></textarea>
                                </div>
                            </div>
                            <div clas="layui-form-item">
                                <div class="layui-input-block">

                                    <!--************这里添加的隐藏的输入框，用来传递images的参数***************-->

                                    <div class="layui-upload" style="width: 100%">
                                        <button type="button" class="layui-btn" id="test1"><i class="layui-icon">&#xe67c;</i>头像</button>
                                        <div class="layui-inline">
                                            <div class="layui-upload-list" >
                                                <img class="layui-upload-img" id="demo1" style="width: 100px;height: 100px">
                                                <p id="demoText"></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="imgpath" class="image">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                    <button class="layui-btn" lay-submit lay-filter="formStep2">
                                        &emsp;注册&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div style="text-align: center;margin-top: 90px;">
                            <i class="layui-icon layui-circle"
                               style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                            <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                注册成功
                            </div>
                            <div style="font-size: 14px;color: #666;margin-top: 20px;">请返回登录</div>
                        </div>
                        <div style="text-align: center;margin-top: 50px;">
                            <a href="/hadoop/index/login" class="layui-btn layui-btn-primary">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: 'http://localhost:8000/hadoop/uploadAndDown/uploadImg'
            ,accept:'images'
            ,size:500000
            ,before: function(obj){

                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".image");
                fileupload.attr("value",res.data.src);
                console.log(fileupload.attr("value"));
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


    });
</script>
<script>
    layui.config({
        base: '../static/layui-v2.2.5/step-lay/'
    }).use(['form', 'step'], function () {
        var $ = layui.$
            , form = layui.form
            , step = layui.step;

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '填写账号'
            }, {
                title: '完善资料'
            }, {
                title: '完成'
            }]
        });

        $('#registerName').blur(function () {
            var user = $(this).val();

            //alert(user);
            $.ajax({
                url: '/hadoop/user/havename',
                dataType: 'text',
                data: {user: user},
                //验证用户名是否可用
                success: function (data) {
                    if (data == 0) {
                        $('#ri').removeAttr('hidden');
                        $('#ri').val(1);
                        $('#wr').attr('hidden', 'hidden');
                    } else {
                        $('#wr').removeAttr('hidden');
                        $("ri").val(0);
                        $('#ri').attr('hidden', 'hidden');
                        layer.msg('当前用户名已被占用! ')

                    }

                }
            })

        });

        // you code ...
        // 为密码添加正则验证
        $('#pwd').blur(function () {
            var reg = /^[\w]{6,12}$/;
            if (!($('#pwd').val().match(reg))) {
                //layer.msg('请输入合法密码');
                $('#pwr').removeAttr('hidden');
                $('#pri').attr('hidden', 'hidden');
                $("#pri").val(0);
                layer.msg('请输入合法密码');
            } else {
                $('#pri').removeAttr('hidden');
                $('#pri').val(1);
                $('#pwr').attr('hidden', 'hidden');
            }
        });
        $("#phone").blur(function () {
            var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
            if (!($('#phone').val().match(reg))) {
                //layer.msg('请输入合法密码');
                $('#phonewr').removeAttr('hidden');
                $('#phoneri').attr('hidden', 'hidden');
                $("#phoneri").val(0);
                layer.msg('您的输入有误，请重新输入(中国11位手机号)');
            } else {
                $('#phoneri').removeAttr('hidden');
                $('#phoneri').val(1);
                $('#phonewr').attr('hidden', 'hidden');
            }
        });
        $('#email').blur(function () {
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if (!($('#email').val().match(reg))) {
                //layer.msg('请输入合法密码');
                $('#emailwr').removeAttr('hidden');
                $('#emailri').attr('hidden', 'hidden');
                layer.msg('请输入正确的邮箱格式：<br>如：xxx@qq.com<br>xxx@163.com等格式');
            } else {
                $.ajax({
                    url: '/hadoop/user/haveemail',
                    dataType: 'text',
                    data: {email: $(this).val()},
                    //验证用户名是否可用
                    success: function (data) {
                        if (data == 0) {
                            $('#emailri').removeAttr('hidden');
                            $('#emailwr').attr('hidden', 'hidden');
                            $('#emailri').val(1);
                        } else {
                            $('#emailwr').removeAttr('hidden');
                            $('#emailri').attr('hidden', 'hidden');
                            $('#emailri').val(0);
                            layer.msg('当前邮箱已被占用! ')

                        }

                    }
                })
            }
        });
        //验证两次密码是否一致
        $('#rpwd').blur(function () {
            if ($('#pwd').val() != $('#rpwd').val()) {
                $('#rpwr').removeAttr('hidden');
                $('#rpri').attr('hidden', 'hidden');
                layer.msg('两次输入密码不一致!');
            } else {
                $('#rpri').removeAttr('hidden');
                $('#rpri').val(1);
                $('#rpwr').attr('hidden', 'hidden');
            };
        });

        form.on('submit(formStep)', function (data) {
            if($('#rpri').val()==1&&$('#pri').val()==1&&$('#ri').val()==1)
            step.next('#stepForm');
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            var formdata=new FormData(document.getElementById("form2"));
            var name=$("#registerName").val()
            var password=$("#pwd").val();
            formdata.append("name",name);
            formdata.append("password",password);
            formdata.delete("file");
            for (var key of formdata.keys()) {
                console.log("key:" + key + " value:" + formdata.get(key));
            }
            if($('#phoneri').val()==1&&$('#emailri').val()==1)
            $.ajax({
                type: "POST",

                url: "/hadoop/user/register",

                data: formdata,

                processData: false,//重要

                contentType: false,//重要
                success: function (result) {
                    if (result.code !=0) {
                        step.pre('#stepForm');
                        layer.msg('注册失败!');
                    } else {
                        step.next('#stepForm');
                    }
                }
            });



            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });

    })
</script>
</body>
</html>